Package: com.hackgit.bossxfq
Name: bossxfq
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: hackgit
Author: hackgit
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
